html,
body,
canvas {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

canvas {
  display: block;
}

.main {
  height: 100vh;
  width: 100vw;
}

.sortingAlgorithmsListContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainHeader {
  display: flex;
  justify-content: center;
}

.algorithmsListContainer {
  display: flex;
  flex-direction: column;
}

.algorithmsList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageButtons {
  position: absolute;
  margin-left: 10px;
  margin-top: 25px;
}

a {
  width: 125px;
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 13px 22px;
  border-radius: 30px;
  background: #bf40bf;
  text-decoration: none;
}

.algorithmsList {
  margin: 20px;
}
